<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Gestión de Usuario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Botón para agregar un nuevo usuario -->
  <div class="password">
    <ion-button slot="end" id="searchButton" color="success" (click)="ToAddUser()">Añadir Usuario</ion-button>
  </div>
  <!-- Input para buscar usuario -->
  <ion-item>
    <ion-label position="floating">Buscar Usuario</ion-label>
    <ion-input #searchInput placeholder="Ingrese nombre de usuario" (ionInput)="onInputChange($event)"></ion-input>
  </ion-item>

  <div class="password">
    <ion-button id="searchButton" color="primary" (click)="searchUser()">Buscar</ion-button>
  </div>

  <ion-list *ngIf="find">
    <ion-list-header>
      <ion-label>Usuarios Encontrados</ion-label>
    </ion-list-header>
  
    <ion-item *ngFor="let user of filteredUsers">
      <!-- Contenedor principal del usuario -->
      <div class="user-container">
        <ion-label class="user-name">{{ user.fullName }}</ion-label>
  
        <!-- Contenedor de botones alineados a la derecha -->
        <div class="button-container">
          <ion-button class="view-button" fill="clear" (click)="onViewDetails(user)">
            <ion-icon name="eye-outline"></ion-icon> <!-- Icono para ver detalles -->
          </ion-button>
          <ion-button class="edit-button" fill="clear" (click)="onEditUser(user)">
            <ion-icon name="create-outline"></ion-icon> <!-- Icono para editar -->
          </ion-button>
          <ion-button class="delete-button" fill="clear" (click)="onDeleteUser(user)">
            <ion-icon name="trash-outline"></ion-icon> <!-- Icono para eliminar -->
          </ion-button>
        </div>
      </div>
    </ion-item>
  </ion-list>
  

  <!-- Mensaje cuando no hay usuarios -->
  <ion-card *ngIf="filteredUsers.length === 0 && find">
    <ion-card-header>
      <ion-card-title>No se encontraron usuarios</ion-card-title>
    </ion-card-header>
  </ion-card>

</ion-content>
