<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <div class="logo-container">
      <img src="assets/img/logo.png" alt="Logo" class="logo">
    </div>
    <ion-card-header>
      <ion-card-title>Bienvenido/a</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <ion-card-content *ngIf="userApi; else loading">
        <h2>{{ userApi.fullName }}</h2>
        <p>Usuario: {{ userApi.userName }}</p>
        <p>Email: {{ userApi.email }}</p>
      </ion-card-content>

      <ion-button (click)="takePicture()">Capturar Imagen</ion-button>

      <div *ngIf="image">
        <img [src]="image" alt="Captured Image">
      </div>
    
      <!-- Mensaje en caso de que no se haya cargado el usuario -->
      <ng-template #loading>
        <p>Cargando datos del usuario...</p>
      </ng-template>
    </ion-card-content>
  </ion-card>
</ion-content>