<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <div class="logo-container">
      <img src="assets/img/logo.png" alt="Logo" class="logo">
    </div>
    <ion-card-header>
      <ion-card-title>Usuario</ion-card-title>
      <ion-card-subtitle>Nombre de Ususario</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Este es el inicio luego de iniciar sesión
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-toolbar color ="primary">

  </ion-toolbar>
</ion-footer>