<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>ComandaGO</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container-father">
    <div class="logo-container">
      <img src="assets/img/logo.png" alt="Logo" class="logo">
    </div>
    
    <mat-form-field class="input">
      <mat-label class="centrar">Usuario</mat-label>
      <input matInput id="user" #userInput>
    </mat-form-field>

    <mat-form-field class="input">
      <mat-label class="centrar">Ingresa Contraseña</mat-label>
      <input matInput id="pass" [type]="hide() ? 'password' : 'text'" #passInput/>
      <button mat-icon-button matSuffix
        (click)="clickEvent($event)"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide()">
        <mat-icon>{{hide() ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>

    <div class="password">
      <ion-button id="loginButton" color="primary">Iniciar Sesion</ion-button>
    </div>
    
    <div class="password">
      <ion-button (click)="goToRegister()">Registrarse</ion-button>
    </div>

    <div class="justificar">
      <a [routerLink]="['/recoverypass']" class="a-center">Olvide mi contraseña</a>
    </div>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar color ="primary">

  </ion-toolbar>
</ion-footer>