<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>ComandaGO</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="container-father">

    <mat-form-field class="input">
      <mat-label class="centrar">Usuario</mat-label>
      <input matInput formControlName="user" #userInput>
    </mat-form-field>

    <mat-form-field class="input">
      <mat-label class="centrar">Ingresa Contraseña</mat-label>
      <input matInput formControlName="pass" [type]="hide() ? 'password' : 'text'" #passInput/>
      <button mat-icon-button matSuffix
        (click)="clickEvent($event)"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide()">
        <mat-icon>{{hide() ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>

    <div class="password">
      <ion-button color="primary" (click)="login()">Iniciar Sesion</ion-button>
    </div>
    
    <div class="password">
      <ion-button (click)="goToRegister()">Registrarse</ion-button>
    </div>

    <div class="justificar">
      <a href="" class="a-center">Olvide mi contraseña</a>
    </div>
  </div>

</ion-content>

<ion-footer>
  <ion-toolbar color ="primary">

  </ion-toolbar>
</ion-footer>