<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="goToLogin()">Volver</ion-button>
    </ion-buttons>
    <ion-title>ComandaGO</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card >
   <ion-card-content>
      <form [formGroup]="formularioRegistro" (keyup.enter)="saveUser()">
        <ion-item>
          <ion-label position="floating">Usuario</ion-label>
          <ion-input formControlName="userName"></ion-input>
        </ion-item>
        <ion-note *ngIf="formularioRegistro.get('userName')?.touched && formularioRegistro.get('userName')?.hasError('required')" color="danger">
          Usuario Requerido
        </ion-note>
        <ion-item>
          <ion-label position="floating">Correo Electrónico</ion-label>
          <ion-input formControlName="email" type="email"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input formControlName="password" type="password">
            <ion-input-password-toggle slot="end"></ion-input-password-toggle>
          </ion-input>
        </ion-item>
        <ion-note *ngIf="formularioRegistro.get('password')?.touched && formularioRegistro.get('password')?.hasError('passwordInvalid')" color="danger">
          La contraseña debe contener <br>
          * Al menos 4 números<br>
          * Al menos 3 caracteres<br>
          * Al menos 1 letra mayúscula
        </ion-note>
        <ion-item>
          <ion-label position="floating">Confirmar Contraseña</ion-label>
          <ion-input formControlName="passwordConfirm" type="password">
            <ion-input-password-toggle slot="end"></ion-input-password-toggle>
          </ion-input>
        </ion-item>
        <ion-note *ngIf="formularioRegistro.get('passwordConfirm')?.touched && formularioRegistro.get('passwordConfirm')?.hasError('required')" color="danger">
          La contraseña es requerida
        </ion-note>
        <br>
        <ion-button (click)="saveUser()">Registrarse</ion-button>
        <br>
        <br>
        <a id="open-modal" expand="block">
          Términos y condiciones
        </a>
        <ion-modal #modal 
                   trigger="open-modal" 
                   [canDismiss]="canDismiss" 
                   [presentingElement]="presentingElement" 
                   [enterAnimation]="enterAnimation" 
                   [leaveAnimation]="leaveAnimation">
          <ng-template>
            <ion-header>
              <ion-toolbar>
                <ion-title>Modal</ion-title>
                <ion-buttons slot="end">
                  <ion-button (click)="modal.dismiss()">Cerrar</ion-button>
                </ion-buttons>
              </ion-toolbar>
            </ion-header>
            <ion-content>
              <p class="ion-padding-horizontal">Debes aceptar los términos y condiciones para cerrar este modal.</p>
              <ion-item>
                <ion-checkbox id="terms" (ionChange)="onTermsChanged($event)" [checked]="canDismiss">
                  <div class="ion-text-wrap">¿Aceptas los términos y condiciones?</div>
                </ion-checkbox>
              </ion-item>
            </ion-content>
          </ng-template>
        </ion-modal>
      </form>
    </ion-card-content>
  </ion-card>
  
</ion-content>
